@font-face {
  font-family: 'khfonts';
  src:
          url('fonts/khfonts.ttf?5mj1sr') format('truetype'),
          url('fonts/khfonts.woff?5mj1sr') format('woff'),
          url('fonts/khfonts.svg?5mj1sr#khfonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'khfonts' !important;
}

.fa-paperclip:before {
  content: "\e92c";
}
.fa-vials:before {
  content: "\e923";
}
.fa-file-word:before {
  content: "\e901";
}
.fa-file-pdf:before {
  content: "\e902";
}
.fa-vial:before {
  content: "\e907";
}
.fa-itu:before {
  content: "\e925";
}
.fa-check-list:before {
  content: "\e900";
}
.fa-info-circle:before {
  content: "\e903";
}
.fa-calendar:before {
  content: "\e904";
}
.fa-envelope-o:before {
  content: "\e905";
}
.fa-bell-o:before {
  content: "\e906";
}
.fa-home:before {
  content: "\e908";
}