extends layout/layout

block title_keywords

	title ITU Chemistry Common Courses
	meta(name="keywords", content="KIM 101, KIM 101E, KIM 101EL, İTÜ Kimya Havuz Dersleri, ITU Chemistry Common Courses, İTÜ Kimya, ITU Chemistry, Kimya, Chemistry")
	meta(name="description", content="İTÜ Kimya Bölümü tarafından verilmekte olan KIM 101/101E ve KIM 101EL havuz derslerinin genel bilgilendirmeleri ve sonuçların duyurulması bu site üzerinden yapılmaktadır.")

block page_content

	.kh-banner.position-relative.mb-3

		.text-white.bg-transparent.pt-4.position-absolute.overflow-hidden.w-100(style='bottom: 0; left:0; z-index: 1;')
			svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 3000 185.4')
				path(fill='currentColor', d='M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z')

		.py-0.py-md-3

		.container-xxl.py-3.py-md-5.position-relative(style='z-index: 2')
			.row
				.col-lg-5.text-center.text-lg-start.align-self-center
					h1.display-5.pt-2.pt-lg-0.pb-3.pb-lg-0.text-primary ITU Chemistry Common Courses
				.col-lg-7
					.rounded-3.shadow.p-3.p-md-5.bg-white
						.row.align-items-center

							//açıklama metni
							.col-md-5.d-none.d-md-block
								h3 Results
								p.lead.text-muted Learn your homework, exam and experiment results. See your experiment schedule.

							//sonuç sorgulama formu
							.col-md-7#yeswy

								h3.d-md-none Results

								//placeholder
								.placeholder-glow#ph
									.col-auto
										label.form-label.placeholder.rounded.fw-bold Course
									.col-6.mb-3
										.form-control.placeholder.py-3
									.col-auto
										label.form-label.fw-bold.rounded.placeholder Student number
									.col-12.mb-3
										.form-control.placeholder.py-3
									.a.btn.btn-primary.placeholder.disabled.col-3(href='#')


								form.validate.d-none#sform(novalidate)
									.mb-3
										label.form-label.fw-bold Course
										select#ders.form-select.w-auto(name='ders', required)
											option(value) Select
										.invalid-feedback Select course
									.mb-3.d-none#div-donem(style='transition: all 0.5s ease-in;')
										label.form-label.fw-bold Semester
										select#donem.form-select.w-auto(name='donem').


									.mb-3
										label.form-label.fw-bold Student number
										input.form-control#stdno(type='number', min='0', max='999999999', required, step='1', name='stdno', placeholder='9 digit student number', style='letter-spacing: 1px')
										.invalid-feedback Enter your 9 digit student number
									button.btn.btn-outline-primary(type='submit') Submit

								//aktif sonuç ilanı yok
								#nowy.text-center.fs-5.d-none
									i.fa.fa-info-circle.me-2
									| Results have not been announced yet.

		.py-4.py-md-5

	.container-xxl.d-none#guncel-duyurular
		h4.text-center.mb-3 Current Announcements
		.row-duyuru#ryds
			// SUTRUCTURE
			//
				<div class="col-duyuru">
					<div class="duyuru-item">
						<span class="span-duyuru">KIM 101</span>
						<div class="duyuru-body">
						<p class="duyuru-p">Duyuru başlığı</p>
						<small class="duyuru-date">13 Mayıs</small>
						</div>
					</div>
					<a href="link-to-duyuru" class="duyuru-a"></a>
					</div>
	script(src='index.js')