extends layout/layout

block title_keywords

	title KIM 101/101E Results
	meta(name="keywords", content="KIM 101/101E results")

block page_content
	.kh-banner.py-3.py-md-5
		h3.text-center.text-primary.mb-0 KIM 101/101E RESULTS
	.container-xxl.pt-3.pt-md-5
		.row.justify-content-center
			.col-xxl-6.col-xl-7.col-lg-8.col-md-9.col-sm-10
				// öğrenci bilgileri
				.card.mb-3.mb-md-4.d-none#stdInf
					.card-header.fw-bold.text-dark
						i.fa.fa-id-card
						span Student information

					.card-body
						table.table.table-borderless.align-middle.mb-0
							tbody
								tr
									th(scope='col') No
									td#sno
								tr
									th(scope='col') Name
									td#sname
								tr
									th(scope='col') Course
									td#sdil
								tr
									th(scope='col') CRN
									td#scrn
								tr
									th(scope='col') Faculty
									td
										.d-flex.align-items-center#souy.


				// sınav yeri bilgileri
				.card.mb-3.mb-md-4.d-none#loc
					.card-header.fw-bold Exam place info
					.card-body
						table.table.table-borderless.align-middle.mb-0
							tbody
								tr
									th(scope='col') Semester
									td#locdonem
								tr
									th(scope='col') Exam place
									td#locsy
								tr
									th(scope='col') Group no
									td#locgr
								tr
									th(scope='col') List no
									td#locsn
					.card-footer.bg-transparent.text-end.border-top-0
						a.card-link.text-decoration-none(href='https://www.sis.itu.edu.tr/EN/about-sis/building-codes.php') Building codes
				// ödev ve sınav notları
				.card.mb-3.mb-md-4.d-none#osnCon
					.card-header.fw-bold Homework and exam results
					.card-body.pb-0
						.table-responsive
							table.table.table-hover.align-middle.mb-1
								thead
									tr
										th
										th Grade
										th EA
										th
								tbody#tbnot
					.card-footer.bg-transparent.border-top-0.text-muted.small
						b G:
						|&nbsp;Not attended,&nbsp;
						b EA:
						|&nbsp;Exam average.
				// genel ortalama ve notlar
				.card.mb-3.mb-md-4.d-none#gort
					.card-header.fw-bold General average and grade
					.card-body#cbgort
				// harfli not aralıkları
				.card.mb-3.mb-md-4.d-none#harfli
					.card-header.fw-bold Grade limits
					.card-body.table-responsive.mb-0
						table.table.table-borderless
							tbody#tbharfli
				// detaylar
				.d-none#sinav-detay
					.card
						.card-header.fw-bold
							span#sdTitle
							|  Details
						.card-body
							table.table.table-hover
								thead
									tr
										th Question
										th Grade
								tbody#tbDetay
		.bg-light.p-3.p-md-5.rounded.d-none#noStd
			h1.display-6 Student was not found.
			p.lead A student corresponding to the number that you provided could not be found in our system. Please be sure that you entered your student number correctly.
		.bg-light.p-3.p-md-5.rounded.d-none#noDonem
			h1.display-6 Semester exam results have not been announced yet.
	script(src='kim101-sonuc.js')