doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='0')
        base(href='###base_href###')

        block title_keywords

        link(href='kimyahavuz.css', rel='stylesheet')

        //###GASSCRIPT###

        //  Global site tag (gtag.js) - Google Analytics
        //<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48118884-1"></script>
        //<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "UA-48118884-1"); </script>

    body.pb-3.pb-md-5
        .container-xxl
            // navbar
            .d-flex.align-items-center.py-2.py-sm-3.py-xxl-4.text-primary
                ul.nav.kh-nav
                    li.nav-item.active
                        a.nav-link.active(href='./')
                            i.fa.fa-home.fa-lg
                    li.nav-item
                        a.nav-link(href='kim101-101e') KIM 101/101E
                    li.nav-item
                        a.nav-link(href='kim101el') KIM 101EL
                    li.nav-item.d-none#li-yds
                        a.nav-link(href='#guncel-duyurular')
                            .position-relative
                                span.yeni-duyuru-sayisi#yds
                                i.fa.fa-bell.fa-lg


        block page_content